@model BankBranch
<h1>Bank Details</h1>

<ul>
    <li>@Model.BankId</li>
    <li>@Model.LocationName</li>
    <li>@Model.LocationURL</li>
    <li>@Model.BranchManager</li>
    <li>@Model.EmployeeCount</li>
</ul>